@import "../../../styles-variables.scss";

.error {
  position: relative;
  background: $color3;
  color: #fff;
  padding: 15px;
  padding-left: 50px;
  margin-bottom: 20px;
  border: 2px solid #fff;

  &:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    color: #fff;
    font-family: "font_awesome";
    content: "\F0E7";
  }
}
