@import "../../../styles-variables.scss";

:host {
  display: block;
}

.msg-box {
  position: relative;
  color: #fff;
  padding: 15px;
  padding-left: 50px;
  margin-bottom: 20px;
  border: 2px solid #fff;

  &.error {
    background: $color3;
    &:before {
      content: "\F0E7";
    }
  }

  &.info {
    background: $color2;
    &:before {
      content: "\F05A";
      left: 15px;
    }
  }

  &:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    color: #fff;
    font-family: "font_awesome";
  }
}
