* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "open_sans";
  font-weight: normal;
  font-size: 14px;
  background: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
