@import "../../../styles-variables.scss";

:host {
  display: block;
  flex: 1 1 auto;
}

.station-view {
  padding: 0 0 10px 0;
  position: relative;
}

.station-view-inner {
  margin: 0 -20px;
}

.next-train {
  margin-bottom: 15px;
  h2 {
    font-size: 40px;
  }
}

p {
  margin-bottom: 0;
}

@keyframes flip {
  0% {
    opacity: 1;
    transform: rotateX(-90deg);
    transform-origin: 0 100%;
  }

  5% {
    transform: rotateX(0);
  }

  45% {
    transform: rotateX(0);
    transform-origin: 0 0;
    opacity: 1;
  }

  54% {
    opacity: 0;
  }

  56% {
    transform: rotateX(90deg);
  }

  100% {
    opacity: 0;
  }
}

.train-station {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  padding: 0 10px;
  height: 35px;
  background: $color2;
  box-sizing: border-box;
  margin-bottom: 5px;
  .from,
  .to {
    opacity: 0;
    position: absolute;
    left: 6px;
    top: 6px;
    display: block;
    animation: flip 10s infinite;
    animation-delay: 0.5s;
  }

  .to {
    animation-delay: 5.5s;
  }
}

.cell-1 {
  min-width: 50px;
}

.cell-2 {
  margin-left: 10px;
}

.cell-3 {
  margin-left: auto;
}

.next-trains-header {
  display: flex;
  background: #fff;
  color: $color1;
  font-weight: bold;
  padding: 4px 10px;
}

.next-trains-monitor {
  padding: 10px 10px 0 10px;
  font-size: 0.9em;
  li {
    display: flex;
    & + li {
      margin-top: 1px;
    }
  }
}
