@import "../../../styles-variables.scss";

:host {
  display: block;
  flex: 1 1 auto;
  margin: 0 -20px;
}

.station-view {
  padding: 0 0 10px 0;
  position: relative;
}

.next-train {
  margin-bottom: 15px;
}

h2 {
  font-size: 40px;
}

p {
  margin-bottom: 0;
}

.train-station {
  font-weight: bold;
  padding: 6px 10px;
  background: $color2;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.cell-1 {
  min-width: 50px;
}

.cell-2 {
  margin-left: 10px;
}

.cell-3 {
  margin-left: auto;
}

.next-trains-header {
  display: flex;
  background: #fff;
  color: $color1;
  font-weight: bold;
  padding: 4px 10px;
}

.next-trains-monitor {
  padding: 10px 10px 0 10px;
  font-size: 0.9em;
  li {
    display: flex;
    & + li {
      margin-top: 1px;
    }
  }
}
